*{margin: 0; padding: 0; block-size: border-box;}

.swiper{
  width: 70%;
  height: 400px;
  background-color: #ccc;
  border: 1px solid #000;
}

.swiper-slide{
  text-align: center;
  align-content: center;
}